# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

* Objectives:

- Listing Languages,
- Listing libraries,
- Basic computations in Phyton,

Some of the popular languages that Data Scientists use are:
1. Phyton
2. Java
3. R
4. SQL

Some of the commonly used libraries in R used by Data Scientists include:
1. dplyr for manipulating data,
2. stringr for manipulating strings
3. ggplot for visualizing data
4. caret for machine learning


|Data Science Tools |
| ------ | 
| R | 
|Jupyter Notebook | 
| Github |

Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# this a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [23]:
m = 200
h = m/60
print("converting m to hours is")
print(h)

converting m to hours is
3.3333333333333335

## Author: Bas